#header{ 
	background-color:#333;
	height:150px;
}

#headerbox {
	background-color:#333;
	height:150px;
	width: 1000px;
	border: 0;
	border	
}

#center { 
	background-color:#eec; 
	min-height:650px; /* for modern browsers */
	height:auto !important; /* for modern browsers */
	height:650px; /* for IE5.x and IE6 */
	padding: 100px;
}

#footer { 
	clear:both;
	background-color:#333;
	height:100px;
}

#error_msg { 
	color: red;
}


#admins { 
	font-family: 'Arial Black';
	background-color: #333;
	color: white;
	text-decoration: none;
	word-spacing: normal;
	text-align: left;
	letter-spacing: 0;
	line-height: 0.7em;
	font-size: 8em;
}

#adminpassform { 
  background: #fff;
  margin: 0 auto;
  width: 600px;
  padding: 20px;
  text-align: center;
  /* border-radius */
  -webkit-border-radius: 5px;
  -moz-border-radius: 7px;
  border-radius: 5px;
  /* box-shadow */
  -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;  
}

